@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
    --color-green: #16917c;
    --color-stronger-green: #50fa7b;
    --color-darkblue: #282a36;
}

/* index.html */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--color-darkblue);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
}

header div {
    text-align: center;
}

header div a {
    color: white;
    margin: 30px;
    text-decoration: none;
}

header div a:hover {
    color: var(--color-green);
    transition: color 500ms;
}

/* about.html */

.container {
    text-align: center;
    color: white;
    line-height: 25px;
}

.container h1 {
    padding-bottom: 20px;
    font-weight: bold;
}

.container p {
    font-size: 16px;
    max-width: 400 px;
}

.container img {
    margin: 15px;
    height: 200px;
    border-radius: 150px;
}

#links-footer {
    text-align: center;
    margin: 20px;
}

#links-footer a {
    margin: 20px;
    color: white;
    border-bottom: 1px solid var(--color-stronger-green);
    text-decoration: none;
    font-weight: bold;
}

#links-footer a:hover {
    color: var(--color-green);
    transition: color 800ms;
}

/* content.html */

.courses {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 20vh;
}

.course {
    background-color: #4c5068a8;
    border-radius: 30px;
    cursor: pointer;
}

.course-image {
    text-align: center;
    padding: 60px;
}

.course-info {
    text-align: center;
    padding-bottom: 25px;
    color: white;
    font-size: 18px;
    line-height: 30px;
}

#starter:hover {
    border: 2px solid #6751af;
}
#launchbase:hover {
    border: 2px solid #fd951f;
}
#gostack:hover {
    border: 2px solid #04d361;
}

/* modal */

.modal-overlay {
    background-color: rgba(red, green, blue, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: rgb(236, 234, 234);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

/* active modal */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}